<h1>New</h1>

<%= form_for @article do |f| %>
  <div>
    <p><%= f.label :title %></p>
    <%= f.text_field :title %>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit :submit %>
  </div>

<% end %>
